{%load static%}
{%if user.is_authenticated%}
{% load notification_tags %}
{% get_unread_notifications user as notifications %}
{%endif%}
<div class=" collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">

    <li class="nav-item dropdown">
      <a class="nav-link" href = "#" onclick="set_notifications_as_read()" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span class="bi bi-bell">
          {%if notifications|length > 0%}
            <span id= "notification-alert" class="position-absolute top-10 start-100 translate-middle badge rounded-pill bg-danger" style="font-size:0.6rem;">
              {%if notifications|length > 99%}
                99+
              {%else%}
                {{notifications|length}}
              {%endif%}
            </span>
          {%endif%}

      </span></a>

    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {% if user.avatar_url == settings.DEFAULT_IMAGE_URL %}
            <img src="{{ user.avatar_url }}" alt="Profile image of {{ user.username }}"
             class="rounded-circle small_image mb-1 invert_image">
          {% else %}
            <img src="{{ user.avatar_url }}" alt="Profile image of {{ user.username }}"
             class="rounded-circle small_image mb-1">
          {% endif %}
      </a>
      <ul class="dropdown-custom-theme dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
        <li><a class="dropdown-item" href="{% url 'profile' %}">Change profile</a></li>
        <li><a class="dropdown-item" href="{% url 'password' %}">Change password</a></li>
        <li><a class="dropdown-item" href="{% url 'preferences' %}">Preferences</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
      </ul>
    </li>
  </ul>
</div>

<!--Javascript to set all notifications to read after the popup is opened-->
<script src="{% static 'js/set_notifications_read.js'%}"></script>
