{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/sidebar.css' %}">
<script src="{% static '/js/sidebar.js' %}"></script>

<div id="sidebar" class=" sidebar col-sm-auto  p-3 sticky-top">

    <!-- A vertical navbar -->
    <!-- Links -->
    {% url 'dashboard' as dashboard %}
    {% url 'upload_file' as upload_file %}
    {% url 'filelist' as filelist %}
    {% url 'shared_file_list' as shared_file_list %}
    {% url 'team_list' as team_list %}
    {% url 'create_team' as create_team %}

    <ul class="nav flex-column nav-pills nav-fill">
        <!--For each item, it highlights the link if in its corresponding page. The page is passed in as a parameter-->
        <li class="nav-item">
            {% if request.path == dashboard %}
                <a class="nav-link active text-center" aria-current="page" href="{% url 'dashboard' %}">Home</a>
            {%else%}
                <a class="nav-link text-center" aria-current="page" href="{% url 'dashboard' %}">Home</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if request.path == upload_file %}
                <a class="nav-link active text-center" aria-current="page" href="{% url 'upload_file' %}">Upload</a>
            {%else%}
                <a class="nav-link text-center" aria-current="page" href="{% url 'upload_file' %}">Upload</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if request.path == filelist %}
                <a class="nav-link active text-center" aria-current="page" href="{% url 'filelist' %}">My Files</a>
            {%else%}
                <a class="nav-link text-center" aria-current="page" href="{% url 'filelist' %}">My Files</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if request.path == team_list or request.path == create_team %}
                <a class="nav-link active text-center" aria-current="page" href="{% url 'team_list' %}">My Teams</a>
            {%else%}
                <a class="nav-link text-center" aria-current="page" href="{% url 'team_list' %}">My Teams</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if request.path == shared_file_list %}
                <a class="nav-link active text-center" aria-current="page" href="{% url 'shared_file_list' %}">Shared To Me</a>
            {%else%}
                <a class="nav-link text-center" aria-current="page" href="{% url 'shared_file_list' %}">Shared To Me</a>
            {% endif %}
        </li>
        <li class="nav-item">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault"><i id="mode-icon" class="bi bi-brightness-high"></i></label>
            </div>
        </li>
    </ul>
</div>