<div class="modal fade" id="textCommentModal{{ upload.id }}" tabindex="-1" aria-labelledby="textCommentModalLabel{{ upload.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-7" id="textCommentModalLabel{{ upload.id }}">Comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating">
                    <label for="inputComments"></label>
                    <textarea class="form-control" id="inputComments" name="comments" style="border-radius: 20px;"></textarea>
                    <label>Descriptions</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button> 
            </div>
        </div>
    </div>
</div>