asgiref==3.7.2
boto3==1.26.59
botocore==1.29.165
coverage==7.3.2
cssselect==1.2.0
Django==4.2.6
django-appconf==1.0.6
django-ckeditor==6.7.1
django-compressor==4.4
django-js-asset==2.2.0
django-storages==1.13.2
django-widget-tweaks==1.5.0
django-with-asserts==0.0.1
Faker==19.11.0
gunicorn==20.1.0
jmespath==1.0.1
libgravatar==1.0.4
lxml==4.9.3
pillow==10.2.0
pvleopard==2.0.2
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
rcssmin==1.1.1
rjsmin==1.2.1
s3transfer==0.6.2
selenium==4.18.1
setuptools==69.1.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==1.26.18