{% extends 'base_content.html' %}
{% block content %}
    {% load static %}
    {% load widget_tweaks %}
    <link href="{% static 'css/password_and_profile.css' %}" rel="stylesheet">
    <div class="mainContainer">
        <div class="formContainer" id="new-info">
            <form action="{% url 'password' %}" method="post">
                {% csrf_token %}
                <hggroup class="text-start">
                    <h1>Change Password</h1>
                </hggroup>
                <br>
                {{ form.as_div }}
                <br>
                <button type="submit" class=button id="btn-submit">
                    <span class="button-text">Change password</span>
                </button>
            </form>
        </div>
    </div>
    <!--Apply the dark/light mode-->
    <div style="display:none;">
        {% include 'partials/sidebar.html' %}
    </div>
    <script src="{% static 'js/form_input_label_handler.js' %}"></script>
{% endblock %}