{% extends 'base_content.html' %}
{% block content %}
    {% load static %}
    
    <div id="popupContainer" class="profile-popup-container popup-container">
        <div id="popupForm" class="profile-popup text-center" style="height: 375px; width: 800px">
            <span id="closePopup" class="close-btn">&times;</span>
            <h1>Update Profile Image</h1>
            <hr>
            <div class="row justify-content-center">
                <div class="col-9">
                    <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-4 mt-3 input-file">
                                <label class="custom-file-upload" style="z-index: 10">
                                    <i class="bi bi-cloud-upload"></i> {{ upload_form.image.label_tag }} {{ upload_form.image }}
                                </label>
                            </div>
                            <p class="col-4"><input class="btn btn-primary mt-3" type="submit"
                                                    name="upload_image"
                                                    value="Upload"/></p>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
            <div class="container mt-5">
                <div class="section">
                    {% if user.profileimage_set.count > 0 %}
                        <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row justify-content-evenly">
                                {% for radio in avatar_form.avatar_url %}
                                    <div class="col-2">
                                        <img src="{{ radio.choice_label }}" alt="avatar of {{ user.username }}"
                                             class="rounded-circle profile-image mb-3 medium-image"
                                             onclick="selectImage(this)">
                                        <div style="display: none">{{ radio.tag }}</div>
                                    </div>
                                {% endfor %}
                                <p class="col-2"><input class="btn btn-primary mt-3" type="submit" name="update_avatar"
                                                        value="Save"/></p>
                            </div>
                        </form>
                    {% else %}
                        <h3>No avatars uploaded</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row justify-content-center mt-5">
            <div class="col-9">
                <img src="{{ user.avatar_url }}" alt="Profile image of {{ user.username }}"
                     class="rounded-circle profile-image mb-3 large-image" id="ProfilePopup" style="cursor: pointer">
                <div class="profile-text mt-4">
                    <h3 class="profile-title">{{ user.full_name }}</h3>
                    <p class="profile-title mt-1 profile-username">{{ user.username }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm p-3 min-vh-100">
                <div class="col-12">
                    <h1>Edit profile</h1>
                    <form action="{% url 'profile' %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/bootstrap_form.html' with form=profile_form %}
                        <input type="submit" name="update_profile" value="Update" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "js/popup_window.js" %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let userAvatarUrl = "{{ user.avatar_url }}";
            let avatarRadios = document.querySelectorAll('.avatar-radio input[type="radio"]');
            let images = document.querySelectorAll('.profile-image');

            avatarRadios.forEach(function (radio) {
                if (radio.value === userAvatarUrl) {
                    radio.checked = true;
                }
            });

            images.forEach(function (img) {
                if (img.getAttribute("src") === userAvatarUrl){
                    if (img.classList.contains("medium-image")) {
                        img.classList.add('avatar-selected');
                    }
                }
            });
        });

        function selectImage(image) {
            // Remove 'selected' class from all images
            let images = document.querySelectorAll('.profile-image');
            images.forEach(function (img) {
                img.classList.remove('avatar-selected');
            });

            // Add 'selected' class to the clicked image
            image.classList.add('avatar-selected');

            // Uncheck all radio buttons
            let radios = document.querySelectorAll('input[type="radio"]');
            radios.forEach(function (radio) {
                radio.checked = false;
            });

            // Check the radio button corresponding to the selected image
            let div = image.nextElementSibling;
            let radio = div.children[0]
            radio.checked = true;
        }
    </script>
{% endblock %}