{% extends 'base_content_with_sidebar.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/filelist.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/share_file_list.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/js/filelist.js' %}"></script>
    <div class="col-12 p-2" id="share-to-me">
        <div class="row justify-content-between">
            <div class="col-3">
                <h1>Shared files:</h1>
            </div>
            <div class="col-3 ">
                {% if paginator.num_pages > 1 %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item {% if not current_page.has_previous %}disabled{% endif %}">
                                <a class="page-link" aria-label="Previous"
                                   {% if current_page.has_previous %}href="?page={{ current_page.previous_page_number }}"
                                   {% else %}href="#"{% endif %}>
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% if paginator.num_pages <= 5 %}
                                <!--If total pages are less than or equal to 5, then make all page items (1,2,3,4,5)-->
                                {% for page_num in paginator.page_range %}
                                    <li class="{% if page_num == current_page.number %}active{% endif %} page-item">
                                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <!--If total pages are greater than 5, then make some of the page items-->
                                {% if current_page.number == 1 %}
                                    <!--If in first page, make first 4 items and omit the rest(1,2,3,4,...)-->
                                    {% for page_num in paginator.page_range %}
                                        {% if page_num < 5 %}
                                            <li class="{% if page_num == current_page.number %}active{% endif %} page-item">
                                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="page-item disabled"><a class="page-link">...</a></li>
                                {% elif current_page.number >= last_three_page %}
                                    <!--If in a page that greater than or equal the last three page, make last 4 items and omit the rest(...,l4,l3,l2,l1)-->
                                    <li class="page-item disabled"><a class="page-link">...</a></li>
                                    {% for page_num in paginator.page_range %}
                                        {% if page_num > last_few_pages %}
                                            <li class="{% if page_num == current_page.number %}active{% endif %} page-item">
                                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <!--For other cases, only make the current, last one and next two (l,c,n1,n2,...), omit the rest-->
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ current_page.previous_page_number }}">{{ current_page.previous_page_number }}</a>
                                    </li>
                                    {% for page_num in paginator.page_range %}
                                        {% if page_num >= current_page.number and page_num < next_few_page %}
                                            <li class="{% if page_num == current_page.number %}active{% endif %} page-item">
                                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="page-item disabled"><a class="page-link">...</a></li>
                                {% endif %}
                            {% endif %}

                            <li class="page-item {% if not current_page.has_next %}disabled{% endif %}">
                                <a class="page-link" aria-label="Next"
                                   {% if current_page.has_next %}href="?page={{ current_page.next_page_number }}"
                                   {% else %}href="#"{% endif %}>
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
        {% if shared_files.count > 0 %}
            <div class="list-group" id="fileList">
                {% for file in shared_files %}
                    <div class="flex-column flex-md-row list-item" aria-current="true">
                        <div class="text-list-item p-3 gap-2 w-100">
                            <form method="post" action="{% url 'pdf_viewer' %}" class="d-inline"
                                  target="_blank" id="viewerForm{{ file.shared_file.id }}">
                                {% csrf_token %}
                                <input type="hidden" name="upload_id" value="{{ file.shared_file.id }}">
                                <a href="#" class="a"
                                   onclick="document.getElementById('viewerForm{{ file.shared_file.id }}').submit();return false;"
                                   style="text-decoration: none">
                                    <div class="item-content">
                                        <div class="d-flex flex-wrap w-100 justify-content-between align-items-center">
                                            <div class="mb-1 shared-by-detail">
                                                <img src="{{ file.shared_file.owner.avatar_url }}" alt="pdf"
                                                     width="32" height="32"
                                                     class="rounded-circle flex-shrink-0">
                                                <p class="profile-title profile-username shared-by-name">{{ file.shared_file.owner.username }}</p>
                                            </div>
                                            <small class="opacity-50 justify-content-md-end"
                                                   id="uploadTime">Uploaded {{ file.shared_file.upload_time_difference }}</small>

                                        </div>
                                        <h6 class="mb-0">
                                            <strong>{{ file.shared_file.get_file_name_without_path }}</strong></h6>
                                        <p class="mb-0 opacity-75"><strong>Uploaded on: </strong><span
                                                class="upload-time">{{ file.shared_file.uploaded_at }}</span></p>
                                        <p class="mb-0 opacity-75">
                                            <strong>Description:</strong>{{ file.shared_file.comments }}</p>

                                    </div>
                                </a>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p style="margin-left: 10px">There is no shared files so far</p>
        {% endif %}
    </div>
{% endblock %}