{% extends 'base_content.html' %}
{% block content %}
<div class="container mt-3">
  <form method="post" action="{% url 'share_file' %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <select class="form-select" name="file-id">
          <option selected disabled> Select file: </option>
          {% for upload in uploads %}
            <option value="{{ upload.id }}">{{ upload.file.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        {% if uploads %}
          <h2> Share to: </h2>
          <input type="text" id="search" class="col-md-6 form-control" placeholder="Search for username">
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table mt-3">
          <tbody id="filter">
            {% for user in all_users %}
              <tr style="display: none">
                <td class="align-middle">{{ user.username }}</td>
                <td class="text-end">
                  <button type="submit" name="user-id" value="{{ user.id }}" class="btn btn-primary">
                    <i class="bi bi-box-arrow-up"></i> Share
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>

<script>
  document.getElementById('search').addEventListener('input', function () {
    const search = this.value.toLowerCase();
    const table = document.getElementById('filter');
    const rows = table.getElementsByTagName('tr');
    for (const row of rows) {
      const username = row.cells[0].textContent;
      if (search.length >= 3) {
        if (username.includes(search)) {
          row.style.display = 'table-row';
        } else {
          row.style.display = 'none';
        }
      } else {
        row.style.display = 'none';
      }
    }
  });
  document.getElementById('search').addEventListener('keydown', function(e) {
    if (e.key === 'Enter') {
      e.preventDefault();
    }
  })
</script>
{% endblock %}