{% extends 'base_content_with_sidebar.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/share_file.css' %}">
<div class="container mt-3">
  <form method="post" action="{% url 'share_file' %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <select id="file-select" class="form-select d-none" name="file-id">
          <option selected disabled></option>
          {% for upload in uploads %}
            <option value="{{ upload.id }}">{{ upload.file.name }}</option>
          {% endfor %}
        </select>
        <h2> Select file: </h2>
        <div class="thumbnail-container">
          {% for upload in uploads %}
            <div class="thumbnail p-2" file-id="{{ upload.id }}">
              <img class="pdf-image p-2" src="{% static '/image/pdf_icon_svg.png' %}">
              <div class="file-name">{{ upload.file.name }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if uploads %}
      <div class="row">
        <div class="col">
          <h2> Share to: </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-md-8 px-0">
          <input type="text" id="search" class="form-control search-bar" placeholder="Search for username">
        </div>
        <div class="col-sm-2 col-md-4">
          <button type="submit" name="user-ids" class="share-btn btn btn-primary">
            <i class="bi bi-box-arrow-up"></i> Share
          </button>
        </div>
      </div>
    {% endif %}
    <div class="row mt-1">
      {% for user in all_users %}
        <div class="col-sm-4 col-md-3 col-lg-2 d-none search-filter" value="{{ user.id }}">
          <div class="row text-center">
            <i class="bi bi-person-circle pfp"></i>
          </div>
          <div class="row text-center username"><p>{{ user.username }}</p></div>
        </div>
      {% endfor %}
    </div>
  </form>
</div>

<script src="{% static 'js/share_file.js' %}"></script>
{% endblock %}