{% extends 'base_content.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {%include 'partials/sidebar.html' with in_shared_files=True%}
            <div class="col-sm p-3 min-vh-100">
                <div class="col-12">
                    <h1>Shared files:</h1>
                    <ul>
                        {% for file in shared_files %}
                            <li>
                                <a href="{{ file.shared_file.url }}">{{ file.shared_file.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}