{% extends 'base_content_without_message.html' %}
{% block content %}
    {% load static %}
    <link href="{% static 'css/team_view.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/share_file.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/filelist.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/js/filelist.js' %}"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!--the animation of rectangle clash with the file card static files-->
    {#    <div class="rectangle"></div>#}
    {#    <div class="rectangle"></div>#}
    {#    <div class="rectangle"></div>#}
    {% include 'partials/messages.html' %}
    <div class="container-fluid pt-2">
        <div class="headContent">
            <div class="p-3 pt-2 border rounded shading">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-2">
                        <a href="{% url 'team_list' %}" class="btn btn-sm team-text text-nowrap btn-outline-primary"><i
                                class="bi bi-arrow-left backFont"></i>Back</a>

                    </div>
                    <div class="col-8">
                        <h1 class="text-center team-text my-1">Group Members</h1>
                    </div>
                    <div class="col-2 d-flex justify-content-end">
                        <h4 class="team-text my-1 text-nowrap text-truncate">{{ team.name }}</h4>
                    </div>
                </div>
                <div class="row p-2">
                    {% for member in members %}
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 fade-in">
                            <div class="text-center">
                                <img src="{{ member.avatar_url }}" class="rounded-circle medium-image"
                                     alt="Avatar of {{ member.username }}" style="margin: auto">
                                {#add margin, since the image is not centered with no reason#}
                            </div>
                            <div class="row text-center">
                                <span class="team-text">{{ member.username }}</span>
                            </div>
                            <div class="row text-center">
                                <span class="team-text text-muted">{{ member.email }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center fade-in">
                        <div id="InvitePopup" class="button_plus"></div>
                    </div>
                </div>
                <div class="row">
                    <div id="popupContainer" class="popup-container">
                        <div id="popupInviteForm" class="popup text-center">
                            <span id="closePopup" class="close-btn">&times;</span>
                            <form action="{% url 'team_detail' team_id=team.id %}" method="post">
                                <h2 class="team-text mb-3">Invite User</h2>
                                {% csrf_token %}
                                {% include 'partials/create_team_form.html' with form=form %}
                                <input type="submit" class="btn btn-primary team-text mt-3d-block w-50"
                                       style="height: 40px; border-radius: 70px;margin-top: 40px;background: #0d6efd;"
                                       value="Invite">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div></div>
            <div class="border rounded shading">
                <div class="container p-2 d-flex flex-column align-items-center">
                    <h1 class="text-center team-text">Actions</h1>
                    <div class="text-center team-text mt-2 action-button">
                        <a class="action-link" data-bs-toggle="offcanvas"
                           data-bs-target="#uploadTeamPdf" aria-controls="uploadTeamPdf">Upload to Team Folder</a>
                    </div>
                    <div class="text-center team-text mt-2 action-button">
                        <a class="action-link" href="{% url 'team_leave' team_id=team.id %}">Leave Team</a>
                    </div>
                    <div class="text-center team-text mt-2 action-button"
                         onclick="copyInvitationCode('{{ team.invitation_code }}')">
                        <a class="action-link">Generate Invitation Code</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shareFileContent">
            <div class="border rounded shading">
                <div class="p-2">
                    <div class="row">
                        <h1 class="text-center team-text">Shared Files in {{ team.name }}</h1>
                    </div>
                    <div class="row justify-content-around">
                        {% if shared_uploads.count > 0 %}
                            <div class="list-group" id="fileList">
                                {% for upload in shared_uploads %}
                                    <div class="flex-md-row list-item" aria-current="true">
                                        <div class="text-list-item p-3 gap-2 w-100">
                                            <form method="post" action="{% url 'pdf_viewer' %}" class="d-inline"
                                                  target="_blank" id="viewerForm{{ upload.id }}">
                                                {% csrf_token %}
                                                <input type="hidden" name="upload_id" value="{{ upload.id }}">
                                                <a href="#" class="a"
                                                   onclick="document.getElementById('viewerForm{{ upload.id }}').submit();return false;"
                                                   style="text-decoration: none">
                                                    <div class="item-content">
                                                        <div class="d-flex flex-wrap w-100 justify-content-between align-items-center">
                                                            <div class="mb-1 shared-by-detail">
                                                                <img src="{{ upload.owner.avatar_url }}" alt="pdf"
                                                                     width="32" height="32"
                                                                     class="rounded-circle flex-shrink-0">
                                                                <p class="profile-title profile-username shared-by-name">{{ upload.owner.username }}</p>
                                                            </div>
                                                            <small class="opacity-50 justify-content-md-end"
                                                                   id="uploadTime">Uploaded {{ upload.upload_time_difference }}</small>

                                                        </div>
                                                        <h6 class="mb-0">
                                                            <strong>{{ upload.get_file_name_without_path }}</strong></h6>
                                                        <p class="mb-0 opacity-75"><strong>Uploaded on: </strong><span
                                                                class="upload-time">{{ upload.uploaded_at }}</span></p>
                                                        <p class="mb-0 opacity-75">
                                                            <strong>Comment:</strong>{{ upload.comments }}</p>

                                                    </div>
                                                </a>
                                            </form>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p style="margin-left: 10px">There is no shared files so far</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="uploadTeamPdf" aria-labelledby="uploadTeamPdf">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Upload PDF to Team {{ team.name }}</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form method="post" action="{% url 'team_detail' team_id=team.id %}" class="share-form-team">
                {% csrf_token %}
                <div class="row row-width share-items-container">
                    <div class="col-12 mt-4">
                        <select id="file-select" class="form-select d-none" name="file-id">
                            <option selected disabled></option>
                            {% for upload in uploads %}
                                <option value="{{ upload.id }}">{{ upload.file.name }}</option>
                            {% endfor %}
                        </select>
                        <h2 class=""> Select file: </h2>
                        <div class="thumbnail-container p-2 mt-3">
                            {% if uploads %}
                                {% for upload in uploads %}
                                    <div class="thumbnail-wrapper col-12 mb-2">
                                        <div class="thumbnail p-1 d-flex align-items-center" file-id="{{ upload.id }}">
                                            <i class="bi bi-file-earmark-pdf fs-2 me-2"></i>
                                            <div class="file-name fs-6 me-2">{{ upload.file.name }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="thumbnail-wrapper col-12">
                                    <span> You must upload a file before sharing. </span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if uploads %}
                    <div class="row row-width justify-content-center flex-nowrap mt-4">
                        <div class="col-auto px-1">
                            <button type="submit" name="share-file" class="share-btn-team btn btn-primary">
                                <i class="bi bi-box-arrow-up"></i>  Upload
                            </button>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

    <script src="{% static 'js/popup_window.js' %}"></script>
    <script src="{% static 'js/share_file.js' %}"></script>
    <script>
        function copyInvitationCode(invitationCode) {
            navigator.clipboard.writeText(invitationCode).then(function () {
                alert('Invitation code copied to clipboard: ' + invitationCode);
            }, function (err) {
                console.error('Failed to copy invitation code: ', err);
            });
        }
    </script>
{% endblock %}