{% extends 'base_content_without_message.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/upload_file.css' %}">
<script src="{% static '/js/upload_file.js' %}"></script>


<head>
    <title>Uploader</title>
    <h1><strong>Uploader</strong></h1>
</head>

<div class="table-container shadow p-3 mb-5 bg-body-tertiary rounded" style='margin-left: 140px; margin-top: 50px'>
    <table class="pdf-table table-hover">
        <tbody>
            <tr>
                <td class="pdf-upload-area" colspan="5" id="pdf-upload-area" tabindex="0">
                    <div style="max-width: 70%; max-height: 70%;">
                        <img src="{% static '/image/pdf_icon_svg.png' %}" alt="pdf" style="max-height: 50%; max-width: 50%">
                    </div>
                    <div class="mt-5">
                        <div class="section" id="pdf-file-upload-section">
                            <form id="pdf-upload-form" action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <p>{{ form.non_field_errors }}</p>
                                {% if file_url %}
                                    <p>File uploaded at: <a href="{{ file_url }}">{{ file_url|truncatechars:20 }}</a></p>
                                {% else %}
                                    <p>{{ form.file.help_text }}</p>
                                {% endif %}
                                <div class="col-3 input-file" style="display: none;">
                                    {{ form.file }}
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
