<html>
<head>
{%load static%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="{% static 'css/viewer.css'%}">
<script src="https://kit.fontawesome.com/176e8fa5da.js" crossorigin="anonymous"></script>
</head>
<body>
	<div id="outerContainer">

		<!-- Sidebar -->
		<div id="sidebar">

			<!-- Sidebar Toolbar -->
			<div id="sidebarToolbar">

				<!-- Sidebar Toolbar View Buttons -->
				<button id="viewThumbnails" class="toolbarButton toggled" title="View Thumbnails">
					<i class="fa-solid fa-grip-vertical"></i>
				</button>
				<button id="viewOutline" class="toolbarButton toggled" title="View Outline">
					<i class="fa-solid fa-bars-staggered"></i>
				</button>
				<button id="viewComments" class="toolbarButton toggled" title="View Comments">
					<i class="fa-regular fa-message"></i>
				</button>
				<button id="viewBookmarks" class="toolbarButton toggled" title="View Bookmarks">
					<i class="fa-regular fa-bookmark"></i>
				</button>
			</div>

			<!-- Sidebar Views -->
			<div id="sidebarViews">
				<div id="thumbnailView"></div>
				<div id="outlineView"></div>
				<div id="commentView"></div>
				<div id="bookmarksView"></div>
			</div>
		</div>

		<!-- Main Container -->
		<div id="mainContainer">
			
			<!-- Toolbar -->
			<div id="toolbar">
			
				<!-- Toolbar Sections -->
				<div id="toolbarSections">
				
					<!-- Left Toolbar Section -->
					<div id="toolbarLeft" class="toolbarSection">
						<button id="sidebarToggle" class="toolbarButton toggled" title="Toggle Sidebar">
							<i class="fa-solid fa-bars"></i>
						</button>		
						<button id="previousPage" class="toolbarButton" title="Previous Page">
							<i class="fa-solid fa-arrow-up"></i>
						</button>
						<button id="nextPage" class="toolbarButton" title="Next Page">
							<i class="fa-solid fa-arrow-down"></i>
						</button>
						<input id="pageInput" class="toolbarField" title="Page" placeholder="0"></input>
						<span id="numberPages" class="toolbarLabel">of 0</span>
					</div>
					
					<!-- Middle Toolbar Section -->
					<div id="toolbarMiddle" class="toolbarSection">
						<div id="titleContainer">
							<!--Showing incomplete info right now-->
							<div id="documentTitle">{{upload.file.name}}</div>
							<div id="fileName">{{upload.file.name}}</div>
						</div>
					</div>
					
					<!-- Right Toolbar Section -->
					<div id="toolbarRight" class="toolbarSection">			
						<select id="selectScale" class="toolbarSelect" title="Zoom">
							<option id="pageFit" value="fit">Fit Page</option>
        	                        		<option id="pageWidth" value="width">Fit Width</option>
                	                		<option value="0.5">50%</option>
                        	        		<option value="0.75">75%</option>
                                			<option value="1">100%</option>
                                			<option value="1.25">125%</option>
                                			<option value="1.5">150%</option>
	                                		<option value="2">200%</option>
        	                        		<option value="3">300%</option>
                	                		<option value="4">400%</option>
						</select>		
						<button id="viewFindbar" class="toolbarButton toggled" title="Find in Document">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
						<button id="viewSettingsMenu" class="toolbarButton toggled" title="Options">
							<i class="fa-solid fa-ellipsis"></i>
						</button>
					</div>
				</div>
			</div>
		
			<!-- PDF Viewer -->
			<div id="viewer">
				<canvas id="pdf"></canvas>
			</div>		
		</div>
	</div>
	<script type="module">
		import * as pdfjsLib from 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.379/pdf.min.mjs';

		// Setup 
		const pdfUrl = "{{ upload.file.url }}"; // Adjust the URL here

		const viewer = document.getElementById("viewer");
		const canvas = document.getElementById("pdf");
		const context = canvas.getContext("2d");

		var scale = 1.5;
		const outputScale = window.devicePixelRatio || 1;
		const pageSpacing = 0; // Adjust spacing between pages here

		// Scales output if device pixel ratio is not 1
		const transform = outputScale !== 1
			? [outputScale, 0, 0, outputScale, 0, 0]
			: null;

		let totalHeight = 0;
		let maxWidth = 0;
		
		document.addEventListener("DOMContentLoaded", async function() {
			pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.379/pdf.worker.min.mjs';	
			const loadingTask = pdfjsLib.getDocument(pdfUrl);
			const pdf = await loadingTask.promise;
	
			// Work out required canvas width and height
			for (let pageNumber = 1; pageNumber <= pdf.numPages; pageNumber++) {
				const page = await pdf.getPage(pageNumber);
				const viewport = page.getViewport({ scale });
				const pageWidth = Math.floor(viewport.width * outputScale);
				const pageHeight = Math.floor(viewport.height * outputScale);
	
				// Calculate total height required to display all pages
				totalHeight += pageHeight + pageSpacing;
	
				// Update maximum width among all pages
				maxWidth = Math.max(maxWidth, pageWidth);
			}

			canvas.width = viewer.clientWidth;
			canvas.height = totalHeight;
			canvas.style.width = canvas.width + "px";
			canvas.style.height = canvas.height + "px";

			var checkDimensionsInterval = setInterval(function() {	
				console.log("sdsd");		
				if (viewer.offsetWidth != viewer.clientWidth) {
					clearInterval(checkDimensionsInterval); // Clear the interval
					renderDocument(pdf); // Render pages once dimensions have been set 

					// Add event listeners

					// Add event listener to zoom option
					var selectScale = document.getElementById("selectScale");
					selectScale.addEventListener("change", function() {
						var selectedValue = parseFloat(selectScale.value); // Get the selected option value
						zoomDocument(selectedValue, pdf);
					});
					
				}
			}, 100); // Check every 100 milliseconds


		});


		window.addEventListener('resize', async function() {

			/*
            // Adjust canvas size when the window is resized
            canvas.width = window.innerWidth;
            canvas.height = totalHeight * (window.innerWidth / maxWidth);
            canvas.style.width = window.innerWidth + "px";
            canvas.style.height = (totalHeight * (window.innerWidth / maxWidth)) / outputScale + "px";
			*/
        });

		async function renderDocument (pdf)
		{
			canvas.width = viewer.clientWidth * (scale / 1.5);

			//canvas.width = viewer.clientWidth;
			canvas.height = totalHeight * scale;
			canvas.style.width = canvas.width + "px";
			canvas.style.height = canvas.height + "px";

			// Render every page in pdf
			for (let pageNumber = 1; pageNumber <= pdf.numPages; pageNumber++) {
				const page = await pdf.getPage(pageNumber);
				const viewport = page.getViewport({ scale });
				
				// Calculate the x-coordinate to center the page horizontally
				const translateX = (canvas.width - viewport.width * outputScale)/ 2;
	
				// Calculate the y-coordinate for the page
				const translateY = pageSpacing + (pageNumber - 1) * (viewport.height * outputScale + pageSpacing);
	
				// Translate the context to center the page horizontally, and render next page below this one
				context.translate(translateX, translateY);
	
				// Render the page
				await page.render({
					canvasContext: context,
					transform,
					viewport: viewport
				}).promise;

				// Reset the translation for the next page
				context.setTransform(transform);
			}	
		}
		
		function zoomDocument(zoomScale, pdf)
		{
			scale = zoomScale;
			renderDocument(pdf);
		}

		function centerDocument()
		{
			// Need to center it based on the viewer and not the canvas
			// When zooming out, should always remain centred
			// When zooming in, what I have now should be fine
		}

	</script>

	<!--
	<script type="module">
		import * as pdfjsLib from 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.379/pdf.min.mjs';

		document.addEventListener("DOMContentLoaded", async function() {
			const pdfUrl = "{{ upload.file.url }}"; // Adjust the URL here

			pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.379/pdf.worker.min.mjs';

			const canvas = document.getElementById("pdf");
			const context = canvas.getContext("2d");

			const scale = 1.5;
			const outputScale = window.devicePixelRatio || 1;
			const pageSpacing = 0; // Adjust spacing between pages here

			const loadingTask = pdfjsLib.getDocument(pdfUrl);
			const pdf = await loadingTask.promise;

			let totalHeight = 0;
			let maxWidth = 0;
			
			// Work out required canvas width and height
			for (let pageNumber = 1; pageNumber <= pdf.numPages; pageNumber++) {
				const page = await pdf.getPage(pageNumber);
				const viewport = page.getViewport({ scale });
				const pageWidth = Math.floor(viewport.width * outputScale);
				const pageHeight = Math.floor(viewport.height * outputScale);

				// Calculate total height required to display all pages
				totalHeight += pageHeight + pageSpacing;

				// Update maximum width among all pages
				maxWidth = Math.max(maxWidth, pageWidth);
			}


			// Adjust canvas size
			canvas.width = maxWidth;
			canvas.height = totalHeight;
			canvas.style.width = maxWidth / outputScale + "px";
			canvas.style.height = totalHeight / outputScale + "px";

			let offsetY = 0;

			// This increases the size somehow
			const transform = outputScale !== 1
					? [outputScale, 0, 0, outputScale, 0, 0]
					: null;

			
			// Render every page in pdf
			for (let pageNumber = 1; pageNumber <= pdf.numPages; pageNumber++) {
				const page = await pdf.getPage(pageNumber);
				const viewport = page.getViewport({ scale });
				const renderContext = {
					canvasContext: context,
					transform,
					viewport,
				};
				
				await page.render(renderContext).promise;

				// Move the correct amount to render the next page below the current one
				let pageHeight = Math.floor(viewport.height * outputScale)
				context.translate(0, pageHeight + pageSpacing);
			}
		});
	</script>
	-->
	
	
</body>
</html>

