<html>
<head>
{%load static%}
{% csrf_token %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/viewer.css'%}">
<link rel="stylesheet" href="{% static 'css/voice_comments.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.379/pdf_viewer.min.css" />
<link rel="stylesheet" href="{% static 'css/voice_comments.css'%}">
<script src="https://kit.fontawesome.com/176e8fa5da.js" crossorigin="anonymous"></script>
</head>
<body>
	<div id="outerContainer">

		<!-- Sidebar -->
		<div id="sidebar">
			<!--Prototype comment functionality-->

			<!-- Sidebar Toolbar -->
			<div id="sidebarToolbar">
				<!-- Sidebar Toolbar View Buttons -->
				<button id="viewThumbnails" class="toolbarButton toggled" title="View Thumbnails">
					<i class="fa-solid fa-grip-vertical"></i>
				</button>
				<button id="viewOutline" class="toolbarButton toggled" title="View Outline">
					<i class="fa-solid fa-bars-staggered"></i>
				</button>
				<button id="viewComments" class="toolbarButton toggled" title="View Comments">
					<i class="fa-regular fa-message"></i>
				</button>
				<button id="viewBookmarks" class="toolbarButton toggled" title="View Bookmarks">
					<i class="fa-regular fa-bookmark"></i>
				</button>
			</div>

			<!-- Sidebar Views -->
			<div id="sidebarViews">
				<div id="thumbnailView">
                    <div id="thumbnailsContainer" role="tablist" aria-label="Thumbnail Tabs"></div>
                </div>
				
				<div id="outlineView"></div>

				<div id="commentView">
					
					<button id="deleteMarkButton" class="button-large" title="Delete Mark">
						<i class= "fa solid fa-trash">Delete Mark</i>
					</button>

					<!-- Navigation pills for voice and text comments -->
					<div class="nav nav-pills" id="comment-pills" role="tablist">
						<a class="nav-link active navigation" id="voice-pill-tab" data-bs-toggle="pill" href="#voice-pill" role="tab" aria-controls="voice-pill" aria-selected="true">
							Voice
						</a>
						<a class="nav-link navigation" id="text-pill-tab" data-bs-toggle="pill" href="#text-pill" role="tab" aria-controls="text-pill" aria-selected="false">
							Text
						</a>
					</div>

					<!-- Tab Content for voice and text comments -->
					<div class="tab-content" id="comment-pills-tabContent">
						<!-- Voice Comment tab -->
						<div class="tab-pane fade show active" id="voice-pill" role="tabpanel" aria-labelledby="voice-pill-tab">
							<div id="testComment" class="centered-text">Select a mark to leave a comment</div>
							<div id="voiceRecordContainer">

								<!-- Voice Recording Section -->
								<div id="voiceRecord">
									<button class="btn btn-primary" id="recordButton">
										<i id="play" class="fas fa-microphone" title="Start Recording"></i>
										&nbspRecord
									</button>
								</div>

								<!-- Current Voice Comments Section -->
								<div id="recordings"></div>
								<div id="saveContainer">
									<button class="btn-primary" id="save" style="display: none;">Save Comments</button>
								</div>
								<br>

								<!-- Saved Voice Comments Section -->
								<div id="voiceCommentLabel" class="centered-text">
									<div id="collapseContainer">
										<i id="collapseButton" class="fas fa-angle-right"></i>
									</div>
									&nbsp;Saved Voice Comments
								</div>
								<div id="collapseMenu" class="collapse-menu" style="display: none;">
									<div id="savedRecordings" data-saved="{{ listOfSavedComments|escapejs }}"></div>
								</div>

							</div>
						</div>

						<!-- Text Comment tab -->
						<div class="tab-pane fade" id="text-pill" role="tabpanel" aria-labelledby="text-pill-tab">
                            <button class="btn-primary" id="addCommentBtn" onclick="addComment()">+Add Note</button>
                            <div class="input-group mb-3" id="inputText" style="display: none">
                                <textarea id="textArea" type="text" class="form-control" style="width: auto; padding: 0; border-radius: 10px" placeholder="Add your text comment here..."></textarea>
                                <button class="btn-primary" onclick="saveComment()">save</button>
                            </div>
                            <div id="commentsContainer"></div>
						</div>
					</div>

                </div>
				
				<div id="bookmarksView">
                    <h3>This is the bookmark view</h3>
                </div>
			</div>
		</div>

		<!-- Main Container -->
		<div id="mainContainer">
			
			<!-- Toolbar -->
			<div id="toolbar" style="position: sticky; top: 0; z-index: 1000;">
			
				<!-- Toolbar Sections -->
				<div id="toolbarSections">
				
					<!-- Left Toolbar Section -->
					<div id="toolbarLeft" class="toolbarSection">
						<button id="sidebarToggle" class="toolbarButton toggled" title="Toggle Sidebar">
							<i class="fa-solid fa-bars"></i>
						</button>		
						<button id="previousPage" class="toolbarButton" title="Previous Page">
							<i class="fa-solid fa-arrow-up"></i>
						</button>
						<button id="nextPage" class="toolbarButton" title="Next Page">
							<i class="fa-solid fa-arrow-down"></i>
						</button>
						<input id="pageInput" class="toolbarField" title="Page" value="1"></input>
						<span id="numberPages" class="toolbarLabel">of 0</span>
					</div>
					
					<!-- Middle Toolbar Section -->
					<div id="toolbarMiddle" class="toolbarSection">
						<div id="titleContainer">
							<!--Showing incomplete info right now-->
							<div id="documentTitle">{{upload.file.name}}</div>
							<div id="fileName">{{upload.file.name}}</div>
						</div>
					</div>
					
					<!-- Right Toolbar Section -->
					<div id="toolbarRight" class="toolbarSection">	
						<button id="markButton" type="button" hidden="True">
							Mark
						</button>		
						<select id="selectScale" class="toolbarSelect" title="Zoom">
							<option id="pageFit" value="fit">Fit Page</option>
							<option id="pageWidth" value="width">Fit Width</option>
							<option value="0.5">50%</option>
							<option value="0.75">75%</option>
							<option value="1" selected>100%</option>
							<option value="1.25">125%</option>
							<option value="1.5">150%</option>
							<option value="2">200%</option>
							<option value="3">300%</option>
							<option value="4">400%</option>
						</select>	
						
						<!-- Search section -->
						<div id="searchSection" style="display: none;"> <!-- Initially hidden -->
							<button id="prevSearchResult" class="toolbarButton" title="Previous Search Result">
								<i class="fa-solid fa-arrow-left"></i>
							</button>
							<input id="searchTermInput" type="text" placeholder="Search term..." class="toolbarField">
							<button id="nextSearchResult" class="toolbarButton" title="Next Search Result">
								<i class="fa-solid fa-arrow-right"></i>
							</button>
						</div>
						<button id="viewFindbar" class="toolbarButton" title="Find in Document">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
						
						<a id="viewPrint" class="toolbarButton" title="Print" href="">
							<i class="fa-solid fa-ellipsis"></i>
						</a>
					</div>
				</div>
			</div>
		
			<!-- PDF Viewer -->
			<div id="viewer">
				<div id="container">
					<div id="canvasContainer"></div>
					<div id="textLayerContainer"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="module">
		import * as pdfjsLib from 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.379/pdf.min.mjs';

		/* Setup */

        /* Constants */
		const pdfUrl = "{{ upload.file.url }}"; // Adjust the URL here
        const baseRenderQuality = 1.5;
		const pageSpacing = 0; // Adjust spacing between pages here
		const renderScales = [2, 1.5, 2, 1.75, 1.5, 1.5, 1.5, 1.25, 1, 1] // For Fit Width, Fit Height, 50%, 75%, 100%, 125%, 150%, 200%, 300%, 400%

		const renderQuality = 1.5; // Adjust the quality of PDF, tradeoff with performance
		const devicePixelRatio = window.devicePixelRatio || 1;
        const transform = devicePixelRatio !== 1
            ? [devicePixelRatio, 0, 0, devicePixelRatio, 0, 0]
            : null;

        /* Elements */
		const viewer = document.getElementById("viewer");
		const canvas = document.getElementById("pdf");
		const container = document.getElementById("container");
		const canvasContainer = document.getElementById("canvasContainer");
		const textLayerContainer = document.getElementById("textLayerContainer");

        /* Variables */
		// Scales output accordingly
		var zoomScale = 1;
		var totalHeight = 0;
		var maxWidth = 0;
		var currentPage = 1; // Page the user is currently on
		var dynamicRenderQuality = renderQuality * renderScales[4]; // 4 is the index for 100%
		var resolution = dynamicRenderQuality * zoomScale;
		var readjustedScroll = true;
		
		// Global variables
		var pdf;
		var numPages;
		var yOriginalPercentage;
		var xOriginalPercentage;
		var printButton = document.getElementById('viewPrint');

		// Print button link
		printButton.setAttribute('href', pdfUrl);
		
		document.addEventListener("DOMContentLoaded", async function() {
			pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.379/pdf.worker.min.mjs';	
			const loadingTask = pdfjsLib.getDocument(pdfUrl);
			pdf = await loadingTask.promise;
			numPages = pdf.numPages;

			/// Add events ///
			
			// Zooming
			var selectScale = document.getElementById("selectScale");
				selectScale.addEventListener("change", function() {
					var selectedValue = parseFloat(selectScale.value); // Get the selected option value
					
					// Update render scales
					let currentZoomOption = selectScale.selectedIndex;
					dynamicRenderQuality = renderQuality * renderScales[currentZoomOption];
										
					// Get the original percentage
					yOriginalPercentage = viewer.scrollTop / viewer.scrollHeight; 
					xOriginalPercentage = viewer.scrollLeft / viewer.scrollWidth;
					readjustedScroll = false

                    // If the value is "width" or "page"
					if (isNaN(selectedValue))
					{
						zoomDocument(selectScale.value, pdf);
					}
					else
					{
						zoomDocument(selectedValue, pdf);
					}
				});

			// Page Navigation
			const pageInput = document.getElementById("pageInput");
			const pageMax = document.getElementById("numberPages")
			pageMax.textContent = "of " + numPages;

			pageInput.addEventListener("input", function validatePageInput (event) 
			{
				const inputValue = event.target.value;
				const numbersOnly = /^\d*$/; // Regex to match numbers only

				// Remove any non-numeric characters from the input value
				if (!numbersOnly.test(inputValue)) {
					event.target.value = inputValue.replace(/\D/g, "");
				}
				else if (inputValue > numPages || inputValue < 1)
				{
					// Remove any numeric values outside pdf page range
					event.target.value = inputValue.replace(/\D/g, "");
				}
			});

			pageInput.addEventListener("keyup", async function finalizeInput(event) 
			{
				// Check if Enter key was pressed
				if (event.key === "Enter") {	
					let pageNum = parseInt(event.target.value);
					await navigateToPage(pdf, pageNum)
					pageInput.blur(); // Remove focus onto input field
				}
			});

            // Add Navigation function to Page Buttons
            const nextPageButton = document.getElementById("nextPage");
            const previousPageButton = document.getElementById("previousPage");

            nextPageButton.addEventListener("click", async function ()
            {
                const inputValue = parseInt(pageInput.value);
                if(inputValue !== numPages){
                    pageInput.value = inputValue + 1;
                    await navigateToPage(pdf, parseInt(pageInput.value));
                }
            });

            previousPageButton.addEventListener("click", async function () {
                const inputValue = parseInt(pageInput.value);
                if (inputValue !== 1) {
                    pageInput.value = inputValue - 1;
                    await navigateToPage(pdf, parseInt(pageInput.value));
                }
            });

			/** Setup **/	
			// Work out required canvas width and height
			for (let pageNumber = 1; pageNumber <= numPages; pageNumber++) {
				const page = await pdf.getPage(pageNumber);
				const viewport = page.getViewport({scale: baseRenderQuality * resolution});
				const pageWidth = viewport.width;
				const pageHeight = viewport.height;
	
				// Calculate total height required to display all pages, and max width
				totalHeight += pageHeight + pageSpacing;
				maxWidth = Math.max(maxWidth, pageWidth);
			}

            // Sidebar view

            // Render the thumbnails in the thumbnail view
			await generateThumbnails();
            // Render the outline in the outline view
            await renderOutline(pdf);

			applyScrollingEffect(pdf);

			// Set container to required sizes
			container.style.width = maxWidth / dynamicRenderQuality + "px";
			container.style.height = totalHeight / dynamicRenderQuality + "px";

			// Render pages
			isRendering = true;
			await renderVisiblePages();
			isRendering = false;

			setup();
		});

		async function navigateToPage(pdf, pageNum)
		{
			if (!pagesRendered.has(pageNum))
			{
				pagesRendered.add(pageNum);
				await renderPage(pdf, pageNum);	
			}
			let pageCanvas = document.getElementById("page" + pageNum);
			viewer.scrollTop = pageCanvas.offsetTop;
		}

		var pagesRendered = new Set(); // Keeps track of pages already rendered
		var isRendering = false // Keeps track of rendering process

        /* Rendering related function */
		
		window.addEventListener("resize", async function()
		{
			// Render asynchronously
			setTimeout(async () => {
				isRendering = true;
				await renderVisiblePages();
				isRendering = false;
			}, 0);

		});

		viewer.addEventListener("scroll", function()
		{
			// Exit if rendering is taking place
			if (isRendering) return;
			
			// Render asynchronously
			setTimeout(async () => {
				isRendering = true;
				await renderVisiblePages();
				isRendering = false;
			}, 0);
		});

		async function renderVisiblePages() 
		{
			// Work out adjacent areas around viewer
			let averagePageHeight = totalHeight / numPages; 
			const viewerHeight = viewer.clientHeight;
			let scrollTop = viewer.scrollTop * dynamicRenderQuality;
			let scrollBottom = (viewer.scrollTop + viewerHeight) * dynamicRenderQuality;

			let topPage = Math.floor(scrollTop / averagePageHeight) + 1;
			let bottomPage = Math.floor(scrollBottom / averagePageHeight) + 1;
			
			// Makes sure indexes aren't outside range of (1, pdf pages) 
			topPage = topPage > 1 ? topPage : 1; 
			bottomPage = bottomPage < numPages ? bottomPage : numPages; 
			currentPage = Math.floor((topPage + bottomPage) / 2);

			// Render visible pages
			for (let pageNumber = topPage; pageNumber <= bottomPage; pageNumber++) {
				if (!pagesRendered.has(pageNumber)) {
					pagesRendered.add(pageNumber);
					await renderPage(pdf, pageNumber);
					console.log("finished rendering page" + pageNumber);
				}
			}
			
			// Render adjacent pages around the visible ones
			scrollTop = (viewer.scrollTop - viewerHeight * 5) * dynamicRenderQuality;
			scrollBottom = (viewer.scrollTop + viewerHeight * 5) * dynamicRenderQuality;

			topPage = Math.floor(scrollTop / averagePageHeight) + 1;
			bottomPage = Math.floor(scrollBottom / averagePageHeight) + 1;
			
			// Makes sure indexes aren't outside range of (1, pdf pages) 
			topPage = topPage > 1 ? topPage : 1; 
			bottomPage = bottomPage < numPages ? bottomPage : numPages; 

			for (let pageNumber = topPage; pageNumber <= bottomPage; pageNumber++) {
				if (!pagesRendered.has(pageNumber)) {
					pagesRendered.add(pageNumber);
					await renderPage(pdf, pageNumber);
					console.log("finished rendering page" + pageNumber);
				}
			}
		}

		async function renderPage(pdf, pageNumber) 
		{	
			const page = await pdf.getPage(pageNumber);
			const viewport = page.getViewport({scale: baseRenderQuality * resolution});

			// Create/Get canvas for page
			var canvas = document.getElementById("page" + pageNumber);
			if (canvas == null)
			{
				canvas = document.createElement("canvas");
				canvas.id = "page" + pageNumber;
			}

			// Set dimensions
			canvas.width = viewport.width * devicePixelRatio;
			canvas.height = viewport.height * devicePixelRatio;
			canvas.style.width = viewport.width / dynamicRenderQuality + "px";
			canvas.style.height = viewport.height / dynamicRenderQuality + "px";

			// Position the canvas in the right place
			canvas.style.position = 'absolute'
			canvas.style.margin = "auto";
			canvas.style.top = (viewport.offsetY + viewport.height * (pageNumber - 1)) / dynamicRenderQuality + 'px';			
			
			canvasContainer.appendChild(canvas);
			
			if (!readjustedScroll)
			{
				viewer.scrollLeft = xOriginalPercentage * viewer.scrollWidth;
				readjustedScroll = true;
			}

			let context = canvas.getContext("2d");

			// Render the page
			await page.render({
				canvasContext: context,
				transform: transform,
				viewport: viewport
			}).promise;

			// Render the text layer
			const textLayer = document.createElement("div");
			textLayer.id = `textlayer-${pageNumber}`;
			textLayer.classList.add("textLayer")
			textLayer.style.setProperty('--scale-factor', viewport.scale / dynamicRenderQuality);

			textLayer.style.position = 'absolute'
			textLayer.style.top = (viewport.offsetY + viewport.height * (pageNumber - 1)) / dynamicRenderQuality + 'px';

			textLayerContainer.appendChild(textLayer);

			// Assign the CSS created to the text-layer element
			const textContent = await page.getTextContent();

			// Pass the data to the method for rendering of text over the pdf canvas.
			await pdfjsLib.renderTextLayer({
				textContentSource: textContent,
				container: textLayer,
				viewport: viewport,
				textDivs: []
			}).promise;
		}

		  // Update container dimensions based on canvases
		  async function updateContainerDimensions(pdf) 
		  {
			const bottomPage = await pdf.getPage(numPages);
			const viewport = bottomPage.getViewport({scale: baseRenderQuality * resolution});
			const pageWidth = viewport.width;
			const pageHeight = viewport.height * (numPages - 1) / dynamicRenderQuality + 'px';

			container.style.width = pageWidth + 'px';
			container.style.height = pageHeight + 'px';
		}

        /* Zooming related Function */

		async function zoomDocument(scale, pdf)
		{
			const page = await pdf.getPage(currentPage);
			if (scale === "fit")
			{
				// Fit window to the whole of current page
				await zoomToFitPage(page);

			}
			else if (scale === "width")
			{
				// Fit window to current page width
				await zoomToFitWidth(page);
			}
			else
			{
				zoomScale = scale;
			}

			pagesRendered.clear(); // Empty set of rendered pages
				
			// Update scaling 
			let newResolution = dynamicRenderQuality * zoomScale;
			maxWidth =  (maxWidth / resolution) * newResolution;
			totalHeight = (totalHeight / resolution) * newResolution;
			resolution = newResolution;

			container.style.width = maxWidth / dynamicRenderQuality + "px";
			container.style.height = totalHeight / dynamicRenderQuality + "px";

			// Remove all canvas elements from container
			while (canvasContainer.firstChild) {
				canvasContainer.removeChild(canvasContainer.firstChild);
			}

			// Remove all text renders from container
			while (textLayerContainer.firstChild) {
				textLayerContainer.removeChild(textLayerContainer.firstChild);
			}

			// Readjust vertical scroll
			viewer.scrollTop = yOriginalPercentage * viewer.scrollHeight;

			// Rerender pages and text layers
			isRendering = true;
			await renderVisiblePages();
			isRendering = false;
		}

		function zoomToFitPage(page) {
			const viewport =  page.getViewport({scale: baseRenderQuality});
			const viewerWidth = viewer.clientWidth;
			const viewerHeight = viewer.clientHeight;

			// Calculate scaling factors for width and height
			const widthScale = viewerWidth / viewport.width;
			const heightScale = viewerHeight / viewport.height;

			// Choose the larger of the two scaling factors
			const scale = Math.min(widthScale, heightScale);

			// Apply the scaling factor to the viewer
			zoomScale = scale;
		}

		function zoomToFitWidth(page) {
			const viewport =  page.getViewport({scale: baseRenderQuality});
			const viewerWidth = viewer.clientWidth;
			const viewerHeight = viewer.clientHeight;

			// Calculate scaling factors for width
			const widthScale = viewerWidth / viewport.width;

			// Apply the scaling factor to the viewer
			zoomScale = widthScale;
		}

        /* Thumbnails related Function */

        async function generateThumbnails()
		{
			for (let pageNumber = 1; pageNumber <= numPages; pageNumber++) {
				const page = await pdf.getPage(pageNumber);
				const viewport = page.getViewport({scale: baseRenderQuality * resolution});
				const pageWidth = viewport.width;
				const pageHeight = viewport.height;

				/* Hanson Stuff */

				// Generate thumbnail for each page
				const thumbnailCanvas = await makeThumb(page);
				thumbnailCanvas.classList.add("thumbnailCanvas")

				const thumbnailContainer = document.createElement("div");
				thumbnailContainer.classList.add("thumbnailContainer");
				thumbnailContainer.setAttribute("role", "tab");
				thumbnailContainer.setAttribute("data-page", pageNumber);
				if (pageNumber === 1) {
					thumbnailContainer.setAttribute("aria-selected", "true");
				} else {
					thumbnailContainer.setAttribute("aria-selected", "false");
				}
				thumbnailContainer.appendChild(thumbnailCanvas);

				// Add a page indicator
				const pageNumberElement = document.createElement("span");
				pageNumberElement.textContent = pageNumber.toString(10);
				pageNumberElement.classList.add("pageNumberElement")
				thumbnailContainer.appendChild(pageNumberElement);

                // Add navigation functionality to thumbnails
				thumbnailContainer.addEventListener("click", async function() {
					await navigateToPage(pdf, pageNumber)
				});

				document.getElementById("thumbnailsContainer").appendChild(thumbnailContainer);
			}
		}

		async function makeThumb(page) {
            const vp = page.getViewport({scale: 1});
            const canvas = document.createElement("canvas");
            const scale = Math.min(108 / vp.width, 140 / vp.height);
            canvas.width = vp.width * scale;
            canvas.height = vp.height * scale;
            const context = canvas.getContext("2d", {alpha: false}); // alpha is set to false since transparent background
            await page.render({canvasContext: context, viewport: page.getViewport({scale})}).promise;
            return canvas;
        }

        /* Apply Scrolling Effect Function */

		// Scrolling will also change the thumbnail aria selected effect
		function applyScrollingEffect(pdf) {
            const viewer = document.getElementById("viewer");
            viewer.addEventListener("scroll", function() {
                let totalPages = pdf.numPages
                const maxScrollTop = viewer.scrollHeight - viewer.clientHeight;
                const pageHeight = maxScrollTop / (totalPages - 1);
                let currentPage = Math.floor(viewer.scrollTop / pageHeight + 0.5) + 1;

                // Apply changes to thumbnails view
                const thumbnailContainers = document.querySelectorAll(".thumbnailContainer");
                thumbnailContainers.forEach(container => {
                    const page = parseInt(container.getAttribute("data-page"));
                    if (page === currentPage) {
                        container.setAttribute("aria-selected", "true");
                    } else {
                        container.setAttribute("aria-selected", "false");
                    }
                });

                // Apply changes to page Input
                let pageInput = document.getElementById("pageInput");
                pageInput.value = currentPage;

                // Check if the selected thumbnail is outside the thumbnail view
                const selectedThumbnail = document.querySelector(`.thumbnailContainer[data-page="${currentPage}"]`);
                if (selectedThumbnail) {
                    const thumbnailView = document.getElementById("thumbnailView")
                    const thumbnailHeight = 140;
                    const selectedThumbnailOffsetTop = selectedThumbnail.offsetTop;
                    const selectedThumbnailBottom = selectedThumbnailOffsetTop + thumbnailHeight;

                    if (selectedThumbnailBottom > thumbnailView.scrollTop + thumbnailView.offsetHeight) {
                        // Scroll down to make the selected thumbnail visible at the bottom
                        thumbnailView.scrollTop = selectedThumbnailBottom - thumbnailView.offsetHeight + thumbnailHeight * 0.5;
                    } else if (selectedThumbnailOffsetTop < thumbnailView.scrollTop) {
                        // Scroll up to make the selected thumbnail visible at the top
                        thumbnailView.scrollTop = selectedThumbnailOffsetTop;
                    }
                }
            });
        }

        /* Outline Related Function */

        // Function to render the outline in the outline view
        async function renderOutline(pdf) {
            const outline = await pdf.getOutline();
            const outlineView = document.getElementById("outlineView");

            if (outline) {
                // Render each outline item recursively
                renderOutlineItem(outline, outlineView, pdf, "0px");
            } else {
                const noOutlineMessage = document.createElement("p");
                noOutlineMessage.textContent = "No outline available.";
                outlineView.appendChild(noOutlineMessage);
            }
        }

        // Function to render an outline item recursively
        function renderOutlineItem(outlineNodes, parentElement, pdf, ml) {
            outlineNodes.forEach(node => {

                // Create a span element to display the title of the node
                const titleSpanWrapper = document.createElement("div")
                titleSpanWrapper.style.marginLeft = ml
                const titleSpan = document.createElement("span");
                titleSpan.textContent = node.title;

                // Add event listener to navigate to the destination when the title is clicked
                titleSpan.addEventListener("click", function() {
                    navigateToDestination(node.dest, pdf);
                });

                titleSpanWrapper.appendChild(titleSpan)
                parentElement.appendChild(titleSpanWrapper);

                // If the node has children, render them recursively
                if (node.items && node.items.length > 0) {
                    renderOutlineItem(node.items, titleSpanWrapper, pdf, "15px");
                }
            });
        }

        // Function to navigate to the destination
        async function navigateToDestination(dest, pdf) {
            pdf.getDestination(dest).then(destination => {
                if (destination) {
                    pdf.getPageIndex(destination[0]).then(async pageIndex => {
                        const actualPage = pageIndex + 1;
                        console.log("Section ", dest, " is on page", actualPage);
                        const viewer = document.getElementById("viewer");
                        const pageHeight = viewer.scrollHeight / pdf.numPages;
                        const [x, y] = destination.slice(2);
                        const page = await pdf.getPage(actualPage);
                        const viewport = page.getViewport({scale: 1})
                        // height based on page + height based on y-coordinate
                        viewer.scrollTop = (actualPage - 1) * pageHeight + (1 - y / viewport.height) * pageHeight;
                    });
                } else {
                    console.log("Destination 'section2' not found");
                }
            });
        }
	</script>
<script>
	//setup the variables needed to load the pdf marks given the data from django (need to do it here
	//because template variables cannot be accessed in external files)
	const savedMarks = "{{marks}}";
	const mark_id = "{{marks.mark_id}}";
	const marksListOfSpans = "{{marks.listOfSpans}}";
	const marksListOfComments = "{{marks.listOfComments}}";
	const upload_id = "{{ upload.id }}";
	const fileOwner = "{{ upload.owner }}";
	const currentUser = "{{ current_user }}";
</script>
<script src="{% static 'js/viewer.js'%}"></script>
<script src="{% static 'js/viewer_sidebar.js' %}"></script>
<script src="{% static 'js/voice_comments_menu.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    {% if comment_json %}
        var comments = JSON.parse('{{ comments_json|escapejs }}');
    {% endif %}
</script>
</body>
</html>

