<html>
<head>
{%load static%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="{% static 'css/viewer.css'%}">
<script src="https://kit.fontawesome.com/176e8fa5da.js" crossorigin="anonymous"></script>
</head>
<body>
	<div id="outerContainer">

		<!-- Sidebar -->
		<div id="sidebar">

			<!-- Sidebar Toolbar -->
			<div id="sidebarToolbar">

				<!-- Sidebar Toolbar View Buttons -->
				<button id="viewThumbnails" class="toolbarButton toggled" title="View Thumbnails">
					<i class="fa-solid fa-grip-vertical"></i>
				</button>
				<button id="viewOutline" class="toolbarButton toggled" title="View Outline">
					<i class="fa-solid fa-bars-staggered"></i>
				</button>
				<button id="viewComments" class="toolbarButton toggled" title="View Comments">
					<i class="fa-regular fa-message"></i>
				</button>
				<button id="viewBookmarks" class="toolbarButton toggled" title="View Bookmarks">
					<i class="fa-regular fa-bookmark"></i>
				</button>
			</div>

			<!-- Sidebar Views -->
			<div id="sidebarViews">
				<div id="thumbnailView">
                    <div id="thumbnailsContainer" role="tablist" aria-label="Thumbnail Tabs"></div>
                </div>
				<div id="outlineView">
                    <h3>This is the outline view</h3>
                </div>

				<div id="commentView">
                    <h3>This is the comment view</h3>
                </div>

				<div id="bookmarksView">
                    <h3>This is the bookmark view</h3>
                </div>
			</div>
		</div>

		<!-- Main Container -->
		<div id="mainContainer">
			
			<!-- Toolbar -->
			<div id="toolbar">
			
				<!-- Toolbar Sections -->
				<div id="toolbarSections">
				
					<!-- Left Toolbar Section -->
					<div id="toolbarLeft" class="toolbarSection">
						<button id="sidebarToggle" class="toolbarButton toggled" title="Toggle Sidebar">
							<i class="fa-solid fa-bars"></i>
						</button>		
						<button id="previousPage" class="toolbarButton" title="Previous Page">
							<i class="fa-solid fa-arrow-up"></i>
						</button>
						<button id="nextPage" class="toolbarButton" title="Next Page">
							<i class="fa-solid fa-arrow-down"></i>
						</button>
						<input id="pageInput" class="toolbarField" title="Page" placeholder="0"></input>
						<span id="numberPages" class="toolbarLabel">of 0</span>
					</div>
					
					<!-- Middle Toolbar Section -->
					<div id="toolbarMiddle" class="toolbarSection">
						<div id="titleContainer">
							<!--Showing incomplete info right now-->
							<div id="documentTitle">{{upload.file.name}}</div>
							<div id="fileName">{{upload.file.name}}</div>
						</div>
					</div>
					
					<!-- Right Toolbar Section -->
					<div id="toolbarRight" class="toolbarSection">			
						<select id="selectScale" class="toolbarSelect" title="Zoom">
							<option id="pageFit" value="fit">Fit Page</option>
        	                        		<option id="pageWidth" value="width">Fit Width</option>
                	                		<option value="0.5">50%</option>
                        	        		<option value="0.75">75%</option>
                                			<option value="1">100%</option>
                                			<option value="1.25">125%</option>
                                			<option value="1.5">150%</option>
	                                		<option value="2">200%</option>
        	                        		<option value="3">300%</option>
                	                		<option value="4">400%</option>
						</select>		
						<button id="viewFindbar" class="toolbarButton toggled" title="Find in Document">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
						<button id="viewSettingsMenu" class="toolbarButton toggled" title="Options">
							<i class="fa-solid fa-ellipsis"></i>
						</button>
					</div>
				</div>
			</div>
		
			<!-- PDF Viewer -->
			<div id="viewer">
				<canvas id="pdf"></canvas>
			</div>		
		</div>
	</div>
	<script type="module">
		import * as pdfjsLib from 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.379/pdf.min.mjs';
	
		document.addEventListener("DOMContentLoaded", async function() {
			const pdfUrl = "{{ upload.file.url }}"; // Adjust the URL here
	
			pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.379/pdf.worker.min.mjs';
	
			const canvas = document.getElementById("pdf");
			const context = canvas.getContext("2d");
	
			const scale = 1.5;
			const outputScale = window.devicePixelRatio || 1;
			const pageSpacing = 0; // Adjust spacing between pages here
	
			const loadingTask = pdfjsLib.getDocument(pdfUrl);
			const pdf = await loadingTask.promise;
	
			let totalHeight = 0;
			let maxWidth = 0;
			
			// Work out required canvas width and height
			for (let pageNumber = 1; pageNumber <= pdf.numPages; pageNumber++) {
				const page = await pdf.getPage(pageNumber);
				const viewport = page.getViewport({ scale });
				const pageWidth = Math.floor(viewport.width * outputScale);
				const pageHeight = Math.floor(viewport.height * outputScale);
	
				// Calculate total height required to display all pages
				totalHeight += pageHeight + pageSpacing;
	
				// Update maximum width among all pages
				maxWidth = Math.max(maxWidth, pageWidth);

                // Generate thumbnail for each page
                const thumbnailCanvas = await makeThumb(page);
                thumbnailCanvas.classList.add("thumbnailCanvas")

                const thumbnailContainer = document.createElement("div");
                thumbnailContainer.classList.add("thumbnailContainer");
                thumbnailContainer.setAttribute("role", "tab");
                thumbnailContainer.setAttribute("data-page", pageNumber);
                if (pageNumber === 1) {
                    thumbnailContainer.setAttribute("aria-selected", "true");
                } else {
                    thumbnailContainer.setAttribute("aria-selected", "false");
                }
                thumbnailContainer.appendChild(thumbnailCanvas);

                // Add a page indicator
                const pageNumberElement = document.createElement("span");
                pageNumberElement.textContent = pageNumber.toString(10);
                pageNumberElement.classList.add("pageNumberElement")
                thumbnailContainer.appendChild(pageNumberElement);

                // Naive approach
                thumbnailContainer.addEventListener("click", function() {
                    const viewer = document.getElementById("viewer");
                    const pageHeight = viewer.scrollHeight / pdf.numPages;
                    viewer.scrollTop = (pageNumber - 1) * pageHeight;
                });

                document.getElementById("thumbnailsContainer").appendChild(thumbnailContainer);
            }

            // Scrolling will also change the thumbnail aria selected effect
            const viewer = document.getElementById("viewer");
            viewer.addEventListener("scroll", function() {
                let totalPages = pdf.numPages
                const maxScrollTop = viewer.scrollHeight - viewer.clientHeight;
                const pageHeight = maxScrollTop / (totalPages - 1);
                let currentPage = Math.floor(viewer.scrollTop / pageHeight + 0.5) + 1;
                const thumbnailContainers = document.querySelectorAll(".thumbnailContainer");
                thumbnailContainers.forEach(container => {
                    const page = parseInt(container.getAttribute("data-page"));
                    if (page === currentPage) {
                        container.setAttribute("aria-selected", "true");
                    } else {
                        container.setAttribute("aria-selected", "false");
                    }
                });
            });
	
			// Adjust canvas size
			canvas.width = maxWidth;
			canvas.height = totalHeight;
			canvas.style.width = maxWidth / outputScale + "px";
        	canvas.style.height = totalHeight / outputScale + "px";
	
			let offsetY = 0;

			// This increases the size somehow
			const transform = outputScale !== 1
					? [outputScale, 0, 0, outputScale, 0, 0]
					: null;

			
			// Render every page in pdf
			for (let pageNumber = 1; pageNumber <= pdf.numPages; pageNumber++) {
				const page = await pdf.getPage(pageNumber);
				const viewport = page.getViewport({ scale });
				const renderContext = {
					canvasContext: context,
					transform,
					viewport,
				};
				
				await page.render(renderContext).promise;

				// Move the correct amount to render the next page below the current one
				let pageHeight = Math.floor(viewport.height * outputScale)
				context.translate(0, pageHeight + pageSpacing);
			}
		});

        async function makeThumb(page) {
            const vp = page.getViewport({scale: 1});
            const canvas = document.createElement("canvas");
            const scale = Math.min(108 / vp.width, 140 / vp.height);
            canvas.width = vp.width * scale;
            canvas.height = vp.height * scale;
            const context = canvas.getContext("2d", {alpha: false}); // alpha is set to false since transparent background
            await page.render({canvasContext: context, viewport: page.getViewport({scale})}).promise;
            return canvas;
        }
	</script>
	
</body>
<script src="{% static "js/viewer_sidebar.js" %}"></script>
</html>

