/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);*/

/*.get-start {*/
/*    margin-bottom: 40px;*/
/*}*/

/*.start-button {*/
/*  background-color: rgb(155,35,33);*/
/*  border: 0;*/
/*  border-radius: 56px;*/
/*  color: #fff;*/
/*  cursor: pointer;*/
/*  display: inline-block;*/
/*  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;*/
/*  font-size: 18px;*/
/*  font-weight: 600;*/
/*  outline: 0;*/
/*  padding: 16px 21px;*/
/*  position: relative;*/
/*  text-align: center;*/
/*  text-decoration: none;*/
/*  transition: all .3s;*/
/*  user-select: none;*/
/*  -webkit-user-select: none;*/
/*  touch-action: manipulation;*/
/*}*/

/*.start-button:before {*/
/*  background-color: initial;*/
/*  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);*/
/*  border-radius: 125px;*/
/*  content: "";*/
/*  height: 50%;*/
/*  left: 4%;*/
/*  opacity: .5;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  transition: all .3s;*/
/*  width: 92%;*/
/*}*/

/*.start-button:hover {*/
/*  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;*/
/*  transform: scale(1.05);*/
/*}*/

/*@media (min-width: 768px) {*/
/*  .start-button {*/
/*    padding: 16px 48px;*/
/*  }*/
/*}*/


a{
    text-decoration: none;
}

table#dataTable {
    width: 100%;
}

.icon-btn {
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Slide-in animation */
@keyframes slideIn {
from {
  opacity: 0;
  transform: translateY(-10px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

/* Apply slide-in animation to table rows */
tbody tr {
animation: slideIn 0.5s ease-in-out;
}

*, *:before, *:after{
  box-sizing: border-box;
  padding: 0; margin: 0;
  font: 300 1em/1.5 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-decoration: none;
  /*color: #111;*/
}

  section.container{
    min-width: 600px;
    margin: 10% auto;
    text-align: center;
  }
    /*a:hover{border-bottom: 1px solid #111;}*/
    h1{font-size: 2em; padding: 20px 0;}
    p{
      font-size: .75em;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 20px 0;
    }

    button:hover{cursor: pointer}
    button {
      background: transparent; outline: none;
      position: relative;
      /*border: 2px solid #111;*/
      padding: 15px 50px;
      overflow: hidden;
    }
    /*button:before (attr data-hover)*/
    button:hover:before{opacity: 1; transform: translate(0,0);}
    button:before{
      content: attr(data-hover);
      position: absolute;
      top: 1.1em; left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      opacity: 0;
      transform: translate(-100%,0);
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)*/
      button:hover div{opacity: 0; transform: translate(100%,0)}
      button div{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: .8em;
        transition: all .3s ease-in-out;
      }


.searchbar-container {
    max-width: 600px;
    margin-left: auto;
    margin-bottom: 20px;
}

.searchbar-container.row.justify-content-end {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.searchbar-container .col-md-6 {
    flex: 0 0 auto;
    width: auto;
}

