a.btn{
    display: block;
    width: 100px;
}

a{
    text-decoration: none;
}

table#dataTable {
    width: 100%;
}

.icon-btn {
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Slide-in animation */
@keyframes slideIn {
from {
  opacity: 0;
  transform: translateY(-10px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

/* Apply slide-in animation to table rows */
tbody tr {
animation: slideIn 0.5s ease-in-out;
}