a.btn{
    display: block;
    width: 100px;
}

table#dataTable {
    width: 100%;
}

.icon-btn {
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}