.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px; 
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.thumbnail:hover {
    border-color: lightblue;
    box-shadow: 5px 4px 0 0 rgba(0, 0, 0, 0.3);
}
.thumbnail.selected {
    border-color: lightblue;
    box-shadow: 5px 4px 0 0 rgba(0, 0, 0, 0.3), inset 0 0 0 1000px rgba(173, 216, 230, 0.3);
}
.pdf-image {
    width: 70px; 
    height: 80px;
}
.file-name {
    margin-top: 5px;
}

.search-bar {
    border-radius: 100px;
}
.share-btn {
    border-radius: 100px;
    display: flex;
    align-items: center;
}
.bi-box-arrow-up {
    margin-right: 3px;
}

.search-filter {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s, background-color 0.3s;
}
.search-filter:hover {
    border-color: lightblue;
}
.search-filter.selected {
    border-color: lightblue;
    background-color: rgba(173, 216, 230, 0.3);
}
.pfp {
    font-size: 50px;
}