.nav-item {
    margin-bottom: 10px;
}

.avatar-name{
    position:absolute;
    bottom: 90px;
    display: flex;
    flex-direction: row;
}

.sidebar-img{
    width: 35px;
    height: 35px;
}

.avatar-name h5{
    position: relative;
    top:7px;
    left: 7px;
}