.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

.header-bar{
    box-sizing: border-box;
    padding: 0; margin: 0;
    font: 300 1em/1.5 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
    color: #111;
}

.pdf-table {
    width: 80%;
    height: 80%;
}




.table-container .section input[type='file'] {
    display: none;
}

.table-container .section .flex {
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.table-container .section .icon {
    max-width: 100%;
    max-height: 100%;
}

.uploaded-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(192,192,192, 20%);
}

.file-content {
    display: flex;
    align-items: center;
}

.file-icon {
    margin-right: 10px;
}

.progress {
    flex: 0;
}

.uploaded-file {
    width: 300px;
    padding: 10px;
}

.btn-close {
    padding: 0.2rem 0.4rem;
    font-size: 0.875rem;
}

.form-container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(211,211,211);
}

.drag-zone{
    background-color: transparent;
}

.share-input{
    background-color: transparent;
    border: solid 2px rgb(230,230,230);
}

#file-name{
    position: relative;
    top:-12px;
}