* {
    padding: 0;
    margin: 0;
    font: Helvetica;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: white;
}

#outerContainer {
    width: 100%;
    height: 100%;
}

#mainContainer {
    position: absolute;
    inset: 0;
}

/* Sidebar */
#sidebar {
    position: absolute;
    inset: 32px 0 0;
    height: 100%;
    width: 200px;
    z-index: 100;
    background-color: #ECEFF4;
}

#sidebarToolbar {
    position: absolute;
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D8DEE9;
}

#sidebarViews {
    position: absolute;
    inset: 32px 0 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* Toolbar */
#toolbar {
    position: absolute;
    height: 32px;
    width: 100%;
    z-index: 999;
    background-color: #ECEFF4;
}

#toolbarSections {
    position: absolute;
    height: 32px;
    width: 100%;
    padding: auto 4px;
    display: flex;
    justify-content: space-between;
}

.toolbarSection {
    display: flex;
    flex-direction: row;
}

/* Viewer */
#viewer {
	position: absolute;
	height: 100%;
	inset: 32px 0 0 200px;
	overflow: auto;
    text-align: center; /* Center text content */
	background: #6c757d;
}

#canvas-container {
	position: absolute;
	margin:	auto; 
}


/* Buttons, Fields, Labels, Selects */
.toolbarButton {
	height: 28px;
	width: 28px;
	font-size: 12px;
	margin: 2px;
}

.toolbarField {
	height: 28px;
	width: 32px;
	text-align: center;
	font-size: 16px;
	padding: 4px 7px;
	margin: 2px;
}

.toolbarLabel {
	display: flex;
	align-items: center;
	margin: 2px;
	font-size: 16px;
	user-select: none;
}

.toolbarSelect {
	height: 28px;
	font-size: 16px;
	margin: 2px;
}

#documentTitle {
    text-align: center;
    font-size: 16px;
}

#fileName {
    text-align: center;
    font-size: 10px;
}

/*Thumbnails view*/
.thumbnailContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	width: 270px;
	background-color: transparent;
}

.pageNumberElement {
	font-size: 14px;
	color: #333;
	padding-bottom: 15px;
	padding-top: 5px;
}

.thumbnailContainer .thumbnailCanvas {
	max-width: 100%;
	height: auto;
	border: 1px solid transparent;
}

.thumbnailContainer[aria-selected="true"] .thumbnailCanvas {
	max-width: 100%;
	height: auto;
	border: 5px solid #ACCEF7;
}


/*

* {
	padding: 0;
	margin: 0;
	font: Helvetica;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-color: white;
}

#outerContainer {
	width: 100%;
	height: 100%;
}

#mainContainer {
	position: absolute;
	inset: 0;
}

/* Sidebar 

#sidebar {
	position: absolute;
	inset: 32px 0 0;
	height: 100%;
	width: 200px;
	z-index: 100;
	background-color: #ECEFF4;
}

#sidebarToolbar {
	position: absolute;
	height: 32px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #D8DEE9;
}

#sidebarViews {
	position: absolute;
	inset: 32px 0 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}



/* Toolbar 

#toolbar {
	position: absolute;
	height: 32px;
	width: 100%;
	z-index: 999;
	background-color: #ECEFF4;
}

#toolbarSections {
	position: absolute;
	height: 32px;
	width: 100%;
	padding: auto 4px;
	display: flex;
	justify-content: space-between;
}

.toolbarSection {
	display: flex;
	flex-direction: row;
}

/* Viewer 

#viewer {
	position: absolute;
	height: 100%;
	inset: 32px 0 0 200px;
	overflow: auto;
}

/* Buttons, Fields, Labels, Selects 

.toolbarButton {
	height: 28px;
	width: 28px;
	font-size: 12px;
	margin: 2px;
}

.toolbarField {
	height: 28px;
	width: 32px;
	text-align: center;
	font-size: 16px;
	padding: 4px 7px;
	margin: 2px;
}

.toolbarLabel {
	display: flex;
	align-items: center;
	margin: 2px;
	font-size: 16px;
	user-select: none;
}

#documentTitle {
	text-align: center;
	font-size: 16px;
}

#fileName {
	text-align: center;
	font-size: 10px;
}

.toolbarSelect {
	height: 28px;
	font-size: 16px;
	margin: 2px;
}
*/

