/* Voice comment view */
#voiceRecord {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 4px;
}
#recordButton {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 5px;
}
#recordings > *, #savedRecordings > * {
	display: inline-block;
	vertical-align: middle;
}
#saveContainer {
	display: flex;
	padding: 5px;
	justify-content: center;
}
#save {
	padding: 2px;
}
.centered-text {
	text-align: center;
}

/* Edit size and controls of audio (this is just a temporary solution, edit this for a better format */
audio {
	max-width: 85%;
	height: 35px;
	padding: 2px;
}
audio::-webkit-media-controls-current-time-display {
	font-size: 1em;
}
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-overflow-button {
	display: none !important;
}

/* Collapsible Menu CSS */
#voiceCommentLabel {
	display: flex;
    align-items: center;
	justify-content: center;
	margin: 8px 0 8px;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.5s ease;
	font-weight: 600;
}
#collapseButton {
	transition: transform 0.5s ease;
}
#collapseContainer {
	width: 20px;
	height: 20px;
	display: flex;
    align-items: center;
	justify-content: center;
	margin-top: 1px;
}
#voiceCommentLabel:hover {
	background-color: #D8DEE4;
}
.fa-angle-right {
	font-size: 0.9em;
}
.rotate-down {
    transform: rotate(90deg);
}
.btn-custom {
	margin-left: 4px;
}