/* Voice comment view */
#voiceRecord {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 4px;
}
#recordButton {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 5px;
}
#recordings > *, #savedRecordings > div[id^="userMenu_"] > * {
	display: inline-block;
	vertical-align: middle;
}
div[id^="userMenu_"] {
	text-align: center;
}
#saveContainer {
	display: flex;
	padding: 5px;
	justify-content: center;
}
#save {
	padding: 2px;
}
.centered-text {
	text-align: center;
}
.transcript-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

/* Edit size and controls of audio (this is just a temporary solution, edit this for a better format */
audio {
	max-width: 85%;
	height: 35px;
	padding: 2px;
}
audio::-webkit-media-controls-current-time-display {
	font-size: 1em;
}
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-overflow-button {
	display: none !important;
}

/* Collapsible Menu CSS */
#voiceCommentLabel, div[id^="userLabel_"] {
	display: flex;
	padding-bottom: 5px;
    align-items: center;
	justify-content: center;
	width: 100%;
}
.collapse-button {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: transform 0.5s ease, background-color 0.5s ease; 
}
.collapse-button:hover {
	background-color: #D8DEE4;
}
.fa-chevron-right {
	font-size: 0.75em;
}
.rotate-down {
    transform: rotate(90deg);
}